* {
  padding: 0;
  margin: 0;
}
#main-div {
  height: 100vh;
  width: auto;
  padding: 0%;
  background-image: linear-gradient(to bottom right, blue, white);
}

#card-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.list-item {
  background-color: #dbe2ef;
  color: #112d4e;
  font-size: x-large;
  font-weight: bold;
  position: relative;
}

#userInput {
  font-size: x-large;
  color: #112d4e;
  background-color: #dbe2ef;
  font-weight: bold;
  border: #112d4e solid;
}

#input-btn {
  background-color: #112d4e;
  border: none;
}

.delete-btn {
  background-color: #112d4e;
  position: absolute;
  /* padding-left: 80%; */
  border: none;
}

.ebtn {
  position: absolute;
  z-index: 1;
  margin-left: 85.5%;
  margin-top: 5px;
}

.dbtn {
  position: absolute;
  z-index: 1;
  margin-left: 92.5%;
  margin-top: 5px;
}
